#paper-1 {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: -5px 0 10px #888888;
    /* float: right; */
    height: 800px;
    max-width: 700px;
    width: 100%;
    margin-right: 6px;
    background-color: #fff;
    border-color:  #ddd;
    margin-bottom: 20px;
}

#paper-1 .hLine {
    border-color: #666;
}

#paper-1 #date {
    border-color: #aaa;
    color: #bbb;
}

#paper-1 #dateMonthAux {
    border-color: #aaa;
}

#paper-1 #logo {
    background-image: url('../../patequation/img/logo.png');
/*     cursor: pointer; */
}

#refresh_page {
	background-image: url('/pat2math/images/reload_pat2math.png');
	background-repeat: no-repeat;
	height: 35px;
	width:  32px;
	background-size: 32px 35px;
	float: left;
	margin-left: 26px;
	margin-top: 3%;
	cursor: pointer;
}

#lines, .lines{
    border-left: 1px solid #FA8072;
    height: 90%;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 2%;
    /*background-color: #FFF8F8;*/
}

.liHoverTrash {
    color: crimson;
}

.hLine{
    border-top: 1px solid #BDB76B;
    margin-left: -7%;
    text-align: left;
    width:107%;
    height: 30px;
/*     font-family: 'Mr Dafoe', cursive; */
    font-size: 1.2em;
}

.hLine p {
	margin: 0 0 9px;
	font-size: 1em;
	line-height: 30px;
	padding-top: 7px;
	padding-left: 50px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hLineAux{
    border-top: 1px solid #FFFFE0;               
    margin: 10px 0px 0px 15px;
    width:1px;
    color: transparent;
}

#logo, .logo {    
    background-position: center center; 
    background-repeat: no-repeat; 
    margin-top: 2%;
    margin-left: 250px;
    width: 185px;
    height: 50px
}

.student_input, .student_input_data {
	font-size: 15px !important;
	margin-left: 10px !important;
	margin-top: -13px !important;
	height: 21px !important;
	text-align: center !important;
	width: 100px !important;
	border: 1px solid #000000 !important;
}

.student_input_description {
	font-size: 15px !important;
	margin-top: -13px !important;
	height: 21px !important;
	text-align: center !important;
	width: 250px !important;
	border: 1px solid #000000 !important;
}

.student_input_relation {
	font-size: 15px !important;
	margin-left: 10px !important;
	margin-top: -13px !important;
	height: 21px !important;
	text-align: center !important;
	width: 250px !important;
	border: 1px solid #000000 !important;
}

.img_data{
	margin-top: -7px;
}

#points {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    color: #777;
    font-size: 20px;
}

/* -------------------- CALCULATOR STUFF -------------------- */
/* Using box shadows to create 3D effects */
#calculator {
	width: 275px;
	height: auto;
	position: absolute;
	display: none;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	background: #9dd2ea;
	border-radius: 3px;
	box-shadow: 0px 4px #8bceec, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
	float: left;
}

.pattbtn {
	overflow: hidden;
	
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 40px !important;
	height: 40px !important;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

.pattbtn:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
	z-index: 10;
}

.pattbtn:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.pattbtn.operator, .pattbtn.clear {
	background:rgba(255,0,0, 0.5);
	color: white;
}

.pattbtn.operator:hover, .pattbtn.clear:hover, .pattbtn.data:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.pattbtn.operator:active, .pattbtn.clear:active, .pattbtn.data:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.pattbtn.clear {
	width: 40px !important;
	font-size: 10px;
}

.pattbtn.data {
	background:rgba(81,163,81, 0.8);
	color: white;
	width: 240px !important;
	font-size: 10px;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.calculator_keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.calculator_keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */
.calculator_keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

.calculator_keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}