[tooltip]:before {            
    position : absolute;
     content : attr(tooltip);
     opacity : 0;
}

[tooltip]:hover:before {        
    opacity : 1;
    opacity: 1;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	margin-top: 20px;
	transition: opacity 1s;
	font-size: 13px;
}