#jgOverlay {
	position: fixed; top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 1100;
	background-color: #fff;
	filter: alpha(opacity=75); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; opacity: .75;
}
#jgOverlay.jgDark {
	background-color: #666;
	filter: alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; opacity: .5;
}

.jGuiderHidden { visibility: hidden; }
.jGuiderHighlight, .jGuider { z-index: 1101; }
.jGuider { width: 550px; color: #000; }

.jGuider .jgContent {
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2); -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2); box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
	outline: 0; -webkit-outline: 0;
	border: 1px solid #acacac; /*border: 1px solid rgba(0, 0, 0, .333);*/
	padding: 20px 20px;
	background: #fff;
	background-clip: padding-box;
	border-radius: 15px;
}

.jGuider .jgClose {
	display: none;
	position: absolute; top: 0; right: 0;
	width: 11px; height: 11px;
	padding: 17px;
	background: url('../img/close-x.png') center center no-repeat;
	filter: alpha(opacity=70); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; opacity: 0.7;
}
.jGuider .jgClose:hover { filter: alpha(opacity=100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; opacity: 1; }
.jGuider .jgClose.active { display: block; }

.jGuider .jgTitle {
	color: #000;
	cursor: default;
	font: bold 30px 'Amatic SC', sans-serif;
	padding: 0 0 10px;
	position: relative;
	word-wrap: break-word;
}

.jGuider .jgDesc {
	font: normal 14px 'Open Sans', sans-serif;
	line-height: 1.4em
}
.jGuider .jgDesc p { margin: 1em 0; }
.jGuider .jgDesc a { color: #36c; text-decoration: none; }

.jGuider .jgAlignLeft { text-align: left; }
.jGuider .jgAlignCenter { text-align: center; }
.jGuider .jgAlignRight { text-align: right; }

.jGuider button {
	height: 29px;
	min-width: 72px; *min-width: auto;
	margin: 25px 16px 0 0;
	border: 1px solid #dcdcdc; border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	outline: none 0;
	padding: 0 8px;
	color: #444;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	font: bold 12px/27px arial, sans-serif;
	cursor: default;
}
.jGuider .jgAlignCenter button { margin: 25px 8px 0; }
.jGuider .jgAlignRight button { margin: 25px 0 0 16px; }
.jGuider button::-moz-focus-inner { border: none 0; }
.jGuider button:hover, .jGuider button:active {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1); box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	border: 1px solid #c6c6c6;
	color: #333;
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
}
.jGuider button:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.jGuider button:focus { border: 1px solid #4d90fe; }
.jGuider button[disabled] {
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
	border: 1px solid #f3f3f3; border: 1px solid rgba(0, 0, 0, .05);
	color: #b8b8b8;
	background: #fff;
	background-image: none;
}

.jGuider .primary {
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	border: 1px solid #3079ed;
	color: #fff;
}
.jGuider .primary:hover, .jGuider .primary:active {
	border: 1px solid #2f5bb7;
	color: #fff;
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.jGuider .primary:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.jGuider .primary:focus {
	-webkit-box-shadow: inset 0 0 0 1px #fff; -moz-box-shadow: inset 0 0 0 1px #fff; box-shadow: inset 0 0 0 1px #fff;
	border: 1px solid #fff; border: 1px solid rgba(0, 0, 0, 0);
	outline: 1px solid #4d90fe; outline: 0 rgba(0, 0, 0, 0);
}
.jGuider .primary[disabled] {
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
	color: #fff;
	background: #4d90fe;
	filter: alpha(opacity=50); opacity: .5;
}

.jgArrow, .jgArrow span {
	position: absolute;
	width: 0; height: 0;
	display: -moz-inline-box; display: inline-block;
	border-width: 0;
	border-color: #aaa;
	font-size: 0; line-height: 0;
	cursor: default;
	z-index: 1;
}
.jgArrow { display: none; }
.jgArrow span { border-color: #fff; }

.jg-right, .jg-right span,
.jg-rightTop, .jg-rightTop span,
.jg-rightBottom, .jg-rightBottom span {
	display: block;
	border-style: dashed solid dashed dashed;
	border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.jg-bottom, .jg-bottom span,
.jg-bottomRight, .jg-bottomRight span,
.jg-bottomLeft, .jg-bottomLeft span {
	display: block;
	border-style: dashed dashed solid dashed;
	border-top-color: transparent; border-right-color: transparent; border-left-color: transparent;
}
.jg-left, .jg-left span,
.jg-leftBottom, .jg-leftBottom span,
.jg-leftTop, .jg-leftTop span {
	display: block;
	border-style: dashed dashed dashed solid;
	border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent;
}
.jg-top, .jg-top span,
.jg-topLeft, .jg-topLeft span,
.jg-topRight, .jg-topRight span {
	display: block;
	border-style: solid dashed dashed;
	border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}

.jg-right, .jg-rightTop, .jg-rightBottom { right: 100%; }
.jg-bottom, .jg-bottomRight, .jg-bottomLeft { bottom: 100%; }
.jg-left, .jg-leftBottom, .jg-leftTop { left: 100%; }
.jg-top, .jg-topLeft, .jg-topRight { top: 100%; }

.jg-right, .jg-left { top: 50%; }
.jg-bottom, .jg-top { left: 50%; }

.jg-right span, .jg-rightTop span, .jg-rightBottom span { left: 1px; }
.jg-bottom span, .jg-bottomRight span, .jg-bottomLeft span { top: 1px; }
.jg-left span, .jg-leftBottom span, .jg-leftTop span { right: 1px; }
.jg-top span, .jg-topLeft span, .jg-topRight span { bottom: 1px; }