
#papers
#paper-1 {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: -5px 0 10px #888888;
    /* float: right; */
    height: 800px;
    max-width: 700px;
    width: 100%;
    margin-right: 6px;
    background-color: #fff;
    border-color:  #ddd;
    margin-bottom: 20px;
}

#paper-1 .hLine {
    border-color: #666;
}

#paper-1 #date {
    border-color: #aaa;
    color: #bbb;
}

#paper-1 #dateMonthAux {
    border-color: #aaa;
}

#paper-1 #logo {
    background-image: url('../img/logo.png');
/*     cursor: pointer; */
}

#refresh_page {
/* 	background-image: url('/pat2math/images/Gift.png'); */
	background-image: url('/pat2math/images/reload_pat2math.png');
	background-repeat: no-repeat;
	height: 35px;
	width:  32px;
	background-size: 32px 35px;
	float: left;
	margin-left: 26px;
	margin-top: 3%;
	cursor: pointer;
}

#lines, .lines{
    border-left: 1px solid #FA8072;
    height: 90%;
    margin-left: 10%;
    margin-right: 2%;
    margin-top: -22px;
    /*background-color: #FFF8F8;*/
}

.liHoverTrash {
    color: crimson;
}

.hLine{
    border-top: 1px solid #BDB76B;
    margin-left: -7%;
    text-align: center;
    width:107%;
    height: 30px;
/*     font-family: 'Mr Dafoe', cursive; */
    font-size: 1.2em;
}

.hLineAux{
    border-top: 1px solid #FFFFE0;               
    margin: 10px 0px 0px 15px;
    width:1px;
    color: transparent;
}

#logo, .logo {    
    background-position: center center; 
    background-repeat: no-repeat; 
    margin-top: 2%;
    margin-left: 250px;
    width: 185px;
    height: 50px
}

#points {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    color: #777;
    font-size: 20px;
}