@CHARSET "utf-8";

body {
	margin: 0;
	padding: 0 30px;
	font-family: Helvetica, Verdana, LucidaGrande, sans-serif;
	text-align: center;
	background: #eee;
}

.table {
	background: #fff;
}

.table td {
	padding: 8px;
}

/* .hide-menu, .show-menu { */
/* 	position: fixed;  */
/* 	/* top: 47%; */
/* 	z-index: 99999999999999; */
/* 	padding: 0px 13px 5px 13px; */
/* 	border-radius: 50px; */
/* 	border: 3px solid #269; */
/* 	font-weight:bold; */
/* 	font-size: 30px; */
/* 	background: #fff; */ */
/* 	top: 47%; */
/* 	z-index: 99999999999999; */
/*     background-image: url("/pat2math/images/seta_left.png"); */
/*     background-repeat: no-repeat; */
/*     height: 50px; */
/*     width: 50px;  */
/*     background-size: 50px 50px; */
/* } */


/* .hide-menu { */
/* 	display:none; */
/* 	left: 295px; */
/* 	background-image: url("/pat2math/images/seta_left.png"); */
/* } */

/* .show-menu { */
/* 	left: -3px; */
/* 	background-image: url("/pat2math/images/seta_right.png"); */
/* } */

.show-menu:hover {
	cursor: pointer;
}

.hide-menu:hover {
	cursor: pointer;
}

#exitText {
	font: bold 28px 'Amatic SC', sans-serif;
	vertical-align: middle;
	color: white
}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #fff;
  z-index: 1000;
  text-align: center;
}

#firstLoading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
	text-align: center;
   position: relative; 
   top: 30%;
 /* left: 240px; */
  z-index: 100;
}

#loadingWE {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7c7c7c;
	padding: 10px 17px;
	background: -moz-linear-gradient(
		top,
		#fefefe 0%,
		#e4e4e4);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fefefe),
		to(#e4e4e4));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d2d2d2;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
}


p {
	font-size: 16px;
	line-height: 1.5;
	margin: 6px 0;
	color: #666;
}

h1, h2, h3, h4 {
	font-family: Arial, LucidaGrande, Helvetica,  sans-serif;
	line-height: 1.1;
	color: #96bdda;
}

h1 {
	font-size: 5em;
	margin: 15px 0 35px 0;
}

h2 {
	font-size: 2.8em;
	margin: 10px 0 25px 0;
}

h3 {
	font-size: 2.4em;
	margin: 10px 0 20px 0;
}

h4 {
	font-size: 22px;
	margin: 8px 0 4px 0;
}

a {
	font-size: 15px;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: underline;
}

input[type=checkbox] {
	margin-right: 3px;	
}

.button {
	padding-top: 20px;
	width: 300px;
	height: 45px;
	display: inline-block;
	font-size: 30px;
	color: #fff;
	background: #37a;
	border: 0;
	padding: 25px;
	margin-right: 25px;
}

.button:hover {
	color: #fff;
	background: #48b;
	text-decoration: none;
}

.msg {
	display: block;
	font-size: 20px;
	color: #fff;
	background: #48b;
	border: 1px solid #ddd;
	padding: 15px 0;
	margin: 0 0 20px 0;
}

.white-link {
	background-color: #f00;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px 5px;
}

.white-link:hover {
	color: #fff;
	background-color: #f55;
}

.link {
	color: #66f;
}

.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

form {
	margin: 8px 0;
}

header {
	margin: 0 -30px;
	padding: 0 30px 15px 30px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 9999;
	box-shadow: -2px 0 4px #777;
	border-top: 3px solid #fff;
	border-bottom: 1px solid #999;
}

section {
	margin-top: 30px;
}

footer {
	margin-top: 40px;
	padding: 0px 30px;
}

ul {
	list-style: none;
}

.box {
	border-radius: 15px;
	margin: 0 0 30px 0;
	padding: 30px 60px;
	display: inline-block;
	color: #00bfff;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: -2px 2px 5px #666;
}

.boxpersonality {
	border-radius: 15px;
	margin: 0 0 30px 0;
	padding: 30px 60px;
	display: inline-block;
	color: #000000;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: -2px 2px 5px #666;
}

.block {
	display: block;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.list {
	margin: 5px 0;
}

.item {
	display: block;
	background: #fff;
	border: 1px solid #59c;
	padding: 5px;
	color: #fff;
	width: 350px;
	margin: 5px 0;
}

.item:hover {
	cursor: pointer;
}

.item2 {
	display: inline-block;
	background: #fff;
	border: 1px solid #59c;
	margin-bottom: 3px;
	padding: 5px;
	color: #bbb;
	width: 200px;
}

.item2:hover {
	color: #fff;
	background: #59c;
	cursor: pointer;
}


/* menu */

.menu {
	margin-top: 12px;
	margin-right: -3px;
	height: auto;
	width: 100px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	color: #269;
	font-size: 17px;
	border-top: 0 solid #98dffc;
	background: #fff;
	font-weight: bold;
	border-radius: 8px;
}

.menu:hover {
	background: #8ce;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.input {
	border: 1px solid #ccc;
}

/* forms */

label {
	margin: 15px 0 0 0;
	font-size: 15px;
	color: #444;
	display: inline-block;
}

input[type=checkbox] {
	margin-top: -2px;
	margin-bottom: 2px;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 2px #999;
}

input[type=text], input[type=password] , textarea {
	margin-bottom: 4px;
	height: 25px;
	width: 300px;
	border-radius: 0;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 2px #999;
}

select {
	margin-bottom: 4px;
	width: 300px;
	height: 30px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 1px 1px 2px #999;
}

textarea {
	width: 300px;
	height: 150px;
}

textarea:focus {
	border: 1px solid #aaa;
	box-shadow: 1px 1px 2px #999;
}

.input-error {
	border: 1px solid #f00;
	width: 400px;
	height: 150px;
}

#bar-header{
	display: block;
	padding: 10px 0px;
	width: 265px;
	text-align: center;
	background-color: #fff;
	margin-top: 3px;
	margin-bottom: 10px;
	border-radius:5px;
}

#topics {
	z-index: 9999999999;
	padding: 0 20px 0 20px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	background: silver;
	height: 100%;
	overflow: scroll;
	display: none;
}

#topicsAux {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	display: none;
	z-index: 0;
}

.topic {
	margin: 0;
    margin-bottom: 2px;
    padding: 10px 0;
    display: block;
    font-size: 18px;
	/* color: #aaa; */
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 265px;
	/* background: #fff; */
	background: #F9A31B;
	border-radius: 5px;
}

.topicLevels {
	margin: 0;
	margin-bottom: 2px;
	padding: 10px 0;
	display: block;
	font-size: 18px;
	/* color: #aaa; */
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 265px;
	/* background: #fff; */
	background: #F9A31B;
	border-radius: 5px;
}

.topic:hover {
	text-decoration: none;
	cursor: pointer;
}

.topicLevels:hover {
	text-decoration: none;
	cursor: pointer;
}

.tasks {
	margin: 0 0 0 0;
	background: #A1A1A1;
	display: none;
	border-radius: 5px;
	width: 250px;
	margin-left: 8px;
}

.task-conteiner {
	width: 160px;
}

.generalScore {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.network {
    font-size: 16px;
    font-weight: bold;
}

#networkStatus {
    margin-left: 164px;
    margin-top: -18px;
}

#statusTitle {
    margin-left: 44px;
}

#statusOnline {
    color: green;
}

#statusOffline {
    color: red;
}

.limitsHintsAndErrors {
	font-weight: bold;
	font-size: 15px;
	margin-right: -318px;
	/*display: none;*/
}

#freeHintsOld {
	margin-top: -44px;
}

#freeErrors {
	margin-top: -32px;
	visibility: hidden;
}

.task {
	margin: 0;
	display: inline-block;
	padding: 10px 10px;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	width: 150px;
	text-align: left;
}

.task:hover {
	cursor: pointer;
	text-decoration: underline;
}

.taskWE {
	margin: 0;
	display: inline-block;
	padding: 10px 10px;
	font-size: 16px;
	color: #fffc00;
	font-weight: normal;
	width: 150px;
	text-align: left;
}

.taskWE:hover {
	cursor: pointer;
	text-decoration: underline;
}


/* errors */

.error {
	color: #f00;
	font-size: 13px;
	margin-top: -6px;
	margin-bottom: 18px;
	display: block;	
}

.error-global {
	margin-bottom: 10px;
	color: #f00;
	font-size: 16px;
	/* text-align: left; */
}


/* modal */

#mask {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.6;
	background: #000;
	z-index: 99999;
}

.modal {
	display: none;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	z-index: 9999999;
}

#sets {
	width: 626px;
	height: 360px;
	padding: 40px 50px;
	text-align: center;
	margin-left: -363px;
	margin-top: -220px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
}

#video-box {
	width: 626px;
	height: 360px;
	padding: 40px 50px;
	text-align: center;
	margin-left: -363px;
	margin-top: -220px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	z-index: 99999;
}

#help-box {
	width: 548px;
	height: 558px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	border-radius: 15px;
	z-index: 99999;
}

#emotion-box {
	width: 548px;
	height: 558px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	border-radius: 15px;
	z-index: 99999;
}

#helpPopups-box {
	width: 606px;
	height: 440px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	border-radius: 15px;
	z-index: 99999;
}

#reportBug-box {
	width: 720px;
	height: 600px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	border-radius: 15px;
	z-index: 99999;
}

#uploadImage-box {
	width: 1002px;
	height: 462px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: -184px; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	z-index: 99999;
}

#quest-box {
	width: 800px;
	height: 630px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	border-radius: 15px;
	z-index: 99999;
}

#reasonAndProportion-box {
    width: 262px;
    height: 125px;
    text-align: center;
    display: none;
    position: fixed; 
/*     margin: auto;  */
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background: #fff;
    box-shadow: 0 0 5px #bbb;
    border-radius: 15px;
    z-index: 99999;
    margin-top: 257px;
    margin-left: auto;
    margin-right: auto;
}

#cancellationRule-box {
    width: 1058px;
    height: 267px;
    text-align: center;
    display: none;
    position: fixed; 
/*     margin: auto;  */
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background: #fff;
    box-shadow: 0 0 5px #bbb;
    border-radius: 15px;
    z-index: 99999;
    margin-top: 257px;
    margin-left: auto;
    margin-right: auto;
}

/* #easter-egg-loupe-box { */
/* 	width: 524px; */
/* 	height: 502px; */
/* 	text-align: center; */
/* 	display: none; */
/* 	position: fixed;  */
/*     margin: auto;  */
/*     top: 0;  */
/*     right: 0;  */
/*     bottom: 0;  */
/*     left: 175px; */
/* 	background: #fff; */
/* 	box-shadow: 0 0 5px #bbb; */
/* 	border-radius: 15px; */
/* 	z-index: 99999; */
/* } */

#audio-box {
	width: 548px;
	height: 558px;
	text-align: center;
	display: none;
	position: fixed; 
    margin: auto; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	border-radius: 15px;
	z-index: 99999;
}

#msg-box {
	width: 350px;
	height: 150px;
	padding: 50px;
	text-align: center;
	margin-left: -200px;
	margin-top: -100px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	box-shadow: 0 0 5px #bbb;
	z-index: 99999;
}

.nav-pills li a {
	padding: 20px;
	background: #eee;
}