/* Using box shadows to create 3D effects */
#calculator {
	width: 275px;
	height: auto;
	
	/* margin: 100px auto; */
	padding: 20px 20px 9px;
	
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
	box-shadow: 0px 4px #8bceec, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
	float: left;
}

.pattbtn {
	overflow: hidden;
	
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 40px !important;
	height: 40px !important;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

.pattbtn:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.pattbtn:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.pattbtn.operator, .pattbtn.clear {
	background:rgba(255,0,0, 0.5);
	color: white;
}

.pattbtn.operator:hover, .pattbtn.clear:hover, .pattbtn.data:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.pattbtn.operator:active, .pattbtn.clear:active, .pattbtn.data:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.pattbtn.clear {
	width: 40px !important;
	font-size: 10px;
}

.pattbtn.data {
	background:rgba(81,163,81, 0.8);
	color: white;
	width: 240px !important;
	font-size: 10px;
}



/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */


.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}



.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
