
.speech-bubble {
	font-family:"Comic Sans MS", cursive;
	font-size:28px;
	position:relative;
	padding:15px;
	margin:5px 0px 20px;
	color:#000;
	background:#F8F8F8; //f3961c; 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:-webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F8F8F8)); // from(#f9d835), to(#f3961c)
	background:-moz-linear-gradient(top, #F8F8F8, #F8F8F8);      // #f9d835, f3961c); 
	background:-o-linear-gradient(top,   #F8F8F8, #F8F8F8);      // #f9d835, f3961c); 
	-moz-box-shadow: 0px 0px 34px #999;
	-webkit-box-shadow: 0px 0px 34px #999;
	box-shadow: 0px 0px 34px #999;
}

.speech-bubble.bottom {
	background:-webkit-gradient(linear, left top, left bottom, from(#f3961c), to(#f9d835));
	background:-moz-linear-gradient(top, #F8F8F8, #F8F8F8); // #f3961c, #f9d835);
	background:-o-linear-gradient(top,   #F8F8F8, #F8F8F8); // #f3961c, #f9d835);
	top:15px;
}

.speech-bubble:after {
	content:"";
	display:block; 
	position:absolute;
	bottom:-15px; 
	left:50%;
	width:0;
	height:0;
	border-width:15px 15px 0; 
	border-style:solid;
	border-color:#F8F8F8 transparent; //#f3961c transparent;

}

.speech-bubble.bottom:after {
	top:-15px;
	right:50%;
	bottom:auto;
	left:auto;
	border-width:0 15px 15px; 
	border-color: #F8F8F8 transparent;  // #f3961c transparent;
}

/* BEGIN jslider css properties */

.jslider .jslider-bg i,
.jslider .jslider-pointer { background: url(jslider.png) no-repeat 0 0; }

.jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
.jslider table { width: 100%; border-collapse: collapse; border: 0; }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

.jslider table,
.jslider table tr,
.jslider table tr td { width: 100%; vertical-align: top; }

.jslider .jslider-bg { position: relative; }
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0; }
.jslider .jslider-bg .l { width: 50%; background-position: 0 0; left: 0; }
.jslider .jslider-bg .r { width: 50%; left: 50%; background-position: right 0; }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-position: 0 -20px; }

.jslider .jslider-pointer { width: 13px; height: 15px; background-position: 0 -40px; position: absolute; left: 20%; top: -4px; margin-left: -6px; cursor: pointer; cursor: hand; }
.jslider .jslider-pointer-hover { background-position: -20px -40px; }
.jslider .jslider-pointer-to { left: 80%; }

.jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
.jslider .jslider-label-to { left: auto; right: 0; }

.jslider .jslider-value { font-size: 9px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -19px; left: 20%; background: white; line-height: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.jslider .jslider-value-to { left: 80%; }

.jslider .jslider-label small,
.jslider .jslider-value small { position: relative; top: -0.4em; }

.jslider .jslider-scale { position: relative; top: 9px; }
.jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
.jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label
{ display: none; }

.jslider_blue .jslider-bg i,
.jslider_blue .jslider-pointer
{ background-image: url(picts/jslider.blue.png); }
  
.layout-slider { margin-bottom: 60px; width: 50%; }
.layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
.layout-slider-settings pre { font-family: Courier; }

/* END jslider css properties */
