/*@import "fonts.css";*/

#send_button {
    /*display: none;*/
    float: right;
    /*height: 62px;*/
    margin-top: 14px;
}

#resultField {
    display: inline-block;
    border: none !important;
}

#handwritten {
	position: static;
	left: 0;
	margin: 0;
	padding: 0;
	touch-action: none;
	/* display: none; */
} 
 
#handwritten canvas {
	left: 0; 
}

#ms-capture-canvas-0 {
	z-index: 1000;
}

#ms-rendering-canvas-0 {
	z-index: 999;
}

myscript-math-web div{
	z-index: 1001 !important;
}